@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

/* This is where the website css will go */
/* Add whatever */

.home {
    background-color: #d1d1d1;
}


/* Headings */
.heading_text {
    color: rgb(199, 128, 70);
    font-family: 'kanit', sans-serif;
    text-align: center;
}

.tabs {
    color: black;
    font-family: 'kanit', sans-serif;
    text-align: center;
}

h1.heading_text {
  font-size: 30px;
  text-align: left;
}

h2.heading_text {
    font-size: 17px;
}

h4.heading_text {
    margin-top: -1px;
}




/* Text & content */
.content {
    padding-left: 10%;
    padding-right: 10%;
}

.paragraph_text {
    font-size: 15px;
    color: black;
    font-family: 'kanit', sans-serif;
    margin: auto;
    width: 100%
}


/* Images */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Other code */
