@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

/* Small notes may be found next to some lines. These are just notes I made to aid my 
 * undertstanding as I learned more CSS while making this website. */

.home {
    background-color: #d1d1d1;
}


/* Headings */
.heading_text {
    color: rgb(199, 128, 70);
    font-family: 'kanit', sans-serif;
    text-align: center;
}

.tabs {
    color: black;
    font-family: 'kanit', sans-serif;
    text-align: center;
}

h1.heading_text {
  font-size: 30px;
  text-align: left;
}

h2.heading_text {
    font-size: 17px;
}

h4.heading_text {
    margin-top: -1px;
}




/* Text & content */
.content {
    padding-left: 10%;
    padding-right: 10%;
}

.paragraph_text {
    font-size: 15px;
    color: black;
    font-family: 'kanit', sans-serif;
    margin: auto;
    width: 100%
}


/* Images */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


/* New tabs */
.body {
  margin: 50px;
}

.tabs {
  display: flex; /* Allows for tab labels to be on the top and content on the bottom */
  flex-wrap: wrap; /* Required along with the above element. Makes the tabs "wrap around" correctly */
  max-width: auto;
  font-family: 'kanit', sans-serif;
}

.tabs__label {
  padding: 10px 16px; /* 10 top and bottom, 16 side to side */
  cursor: pointer; /* Chnages cursor to a pointer hand */
  font-size: 18px;
  background: #f2f2f2;
  font-style: italic;
}

.tabs__radio {
   display: none; /* Stops radio button from being visually shown */
}

.tabs__content {
  order: 1; /* Groups tabs with an order of 1 together. Makes the separation */
  width: 100%;
  border-bottom: 3px solid #893a0f; /* Doesn't display unless checked. See next CSS selector for details */ 
  line-height: 1.5;
  font-size: 15px;
  display: none;
}

.tabs__radio:checked+.tabs__label { /* Finds the checked radio button, then particular label */
  /* Customizes the look of a SELECTED tab */
  font-weight: bold;
  color: #893a0f;
  border-bottom: 3px solid #893a0f;
}

.tabs__radio:checked+.tabs__label+.tabs__content { /* Finds the checked radio button, then particular label, and finally the content */
  /* Customizes the look of a SELECTED tab */
  display: intial; /* Could also use block */
  /* ****NOT WORKING CURRENTLY, fix later */
}